body{
    background-color: black;
    background-image: url("img/galaxia1.jpg");
    background-size: 1370px 730px;
}


#celula{
	position: absolute;
    top: 100px;
    left: 30px;
    width: 270px;
    height: 110px;
    text-align: center;
    cursor: pointer;
}

#memoria{
    position: absolute;
    top: 400px;
    right: 30px;
    width: 270px;
    height: 110px;
    text-align: center;
    cursor: pointer;
}
