html {
height: 768px;
width: 1366px;
}  

body {
  color: white;
  font-family: monospace;
  font-size: 30px;
  background-color: black;
}

 /*INDEX INDEX INDEX INDEX INDEX INDEX INDEX INDEX */
.popup1 {

    position: absolute;
    transform: translate(-50%,-50%);
    left: 10%;
    top: 50%;
    border-radius: 8px;
    display: none;
    text-align: center;
}

.popup2 {

    position: absolute;
    transform: translate(-50%,-50%);
    left: 25%;
    top: 30%;
    border-radius: 8px;
    display: none;
    text-align: center;
}
.popup3 {

    position: absolute;
    transform: translate(-50%,-50%);
    left: 60%;
    top: 70%;
    border-radius: 8px;
    display: none;
    text-align: center;
}

.popup4 {

    position: absolute;
    transform: translate(-50%,-50%);
    left: 70%;
    top: 25%;
    border-radius: 8px;
    display: none;
    text-align: center;
}
.popup5 {

    position: absolute;
    transform: translate(-30%,-30%);
    left: 55%;
    top: 50%;
    border-radius: 8px;
    display: none;
    text-align: center;
}

.popup6 {

    position: absolute;
    transform: translate(-50%,-50%);
    left: 80%;
    top: 20%;
    border-radius: 8px;
    display: none;
    text-align: center;
}
.popup7 {

    position: absolute;
    transform: translate(-10%,-10%);
    left: 6%;
    top: 60%;
    border-radius: 8px;
    display: none;
    text-align: center;
}

.popup8 {

    position: absolute;
    transform: translate(-75%,-75%);
    left: 59%;
    top: 70%;
    border-radius: 8px;
    display: none;
    text-align: center;
}


.popup1 button{
    display: block;
    background-color: transparent;
    font-size: 15px;
    color: ghostwhite;
    border: none;
    outline: none;
    cursor: pointer;
    }

.popup2 button{
    display: block;
    background-color: transparent;
    font-size: 15px;
    color: ghostwhite;
    border: none;
    outline: none;
    cursor: pointer;
    }
.popup3 button{
    display: block;
    background-color: transparent;
    font-size: 15px;
    color: ghostwhite;
    border: none;
    outline: none;
    cursor: pointer;
    }

.popup4 button{
    display: block;
    background-color: transparent;
    font-size: 15px;
    color: ghostwhite;
    border: none;
    outline: none;
    cursor: pointer;
    }



img {max-width:100%;
    max-height: 100%;
}


.contenedor{
  position: relative;
  text-align: center;
  margin: auto;
  width: inherit;
  height: inherit;
  background-color: transparent;

}

.tiempoacelerado{
  width: 250px;
  position: absolute;
  top:  35%;
  left: 58%;

}
.espaciodecontemplacion{
  width: 250px;
  position: absolute;
  top:  38%;
  left: 24%;
}
/*INDEX INDEX INDEX INDEX INDEX INDEX INDEX INDEX */
/*NO RETORNO NO RETORNO NO RETORNO NO RETORNO NO RETORNONO RETORNO NO RETORNO */

.contenedorP5{
    position: relative;
    size: inherit;
    background-color: black;
}
/*NO RETORNO NO RETORNO NO RETORNO NO RETORNO NO RETORNONO RETORNO NO RETORNO */

/*NUCLEO NUCLEO NUCLEO NUCLEO NUCLEO NUCLEO NUCLEO NUCLEO NUCLEO NUCLEO NUCLEO */
.contenedorManos{
  position: relative;
  text-align: center;
  margin: auto;
  width: inherit;
  height: inherit;
  background-color: transparent;
}


#manos {
    width: 50%;
    height: 50%;
    position: relative;
    top: 25%;
    animation-name: opManos;
    animation-duration: 60s;
    opacity: 0.85;
}
@keyframes opManos {
    from {opacity: 0;}
    to {opacity: 0.85;}
    from {width: 10%;}
    to {width: 50%;}
    from {height: 10%;}
    to {height: 50%;}
}

.contenedorTextoNucleo{
    font-family: monospace;
    position: absolute;
    text-align: center;
    top: 74%;
    left: 68%;
    }

.contenedorVideo{
    position: absolute;
    top: 3%;
    left: 2%;
    }
/*NUCLEO NUCLEO NUCLEO NUCLEO NUCLEO NUCLEO NUCLEO NUCLEO NUCLEO NUCLEO NUCLEO */

  </style>
