body{
	background-color:black; 
	background-image: url("img/fondooferta.gif");

}    
/*display: inline-block;*/

#contenedor{
	width: 1366px;
	height: 768px;
	margin:auto; 
}
.cerrar{
	position: absolute;
    border: none;
    border-radius: 10%;
    top: 25px;
    right: 210px;
    width: 170px;
    padding:1px;
    text-align: center;
    margin: 1px ;
    cursor: pointer;
}
.cerrar:hover{
	background-color:#443C5E;
}
section{
	display: inline;
	width: auto;
}
#publi{
	text-align: center;
}
#oferta{
	position: absolute;
	width: 80%;
	top: 20px;
	left: 400px;
	max-width: 550px;
	margin-top: 5px;
	margin:auto; 
	padding:13px;
}
.compra{
	position: absolute;
	top: 440px;
    left: 425px;
    width: 322px;
    height: 145px;
    cursor: pointer;
}
#loto{
    position: absolute;
    bottom: 80px;
    left: 180px;
    width: 200px;
    filter: blur(5px);
}
#loto:hover{
	filter: none;
}