* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    overflow: hidden;
    width: 1366px;
    height: 768px;
    color: white;
    font-family: monospace;
}

.bgimage {
    background-image: url("img/bgsueños.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 50%;
}



/* Background Video*/
.bgdream {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  .bgContemplate {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }  
  
  .centeredText  {
    font-size: 15px;
    color: white;
    text-align: center;
    font-family: monospace;
    text-decoration: none;
  }
  
  /* Bg Content */
  .content {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px;
  }

  .content2 {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .item1{
      position: relative;
      right: 2%;
      top: 70%;
  }

  .item2{
    position: relative;
    left: 8%;
    top: 10%;

}

.item3{
    position: relative;
    top: 20%;
    left: 5%;
}

.item4{
    position: relative;
    top: 4%;
    right: 10%;
}

.item5{
    position: relative;
    top: 20%;
    right: 5%;
}

.item6{
    position: relative;
    top: 10%;
    left: 15%;
}

.item7{
    position: relative;
    top: 25%;
    right: 15%;
}

.item8{
    position: relative;
    top: 70%;
    left: 10%;
}

.item9{
    position: relative;
    top: 8%;
    left: 15%;
}

.item10{
    position: relative;
    top: 15%;
    left: 15%;
}

.item11{
    position: relative;
    top: 15%;
    left: 15%;
}

.item12{
    position: relative;
    top: 75%;
    left: 10%;
}
  
.item13{
    position: absolute;
    top: 10%;
    right: 2%;
}

  .contentBottom {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    padding: 40px;
  }

  .contentBottomLeft {
    position: fixed;
    display: flex;
    justify-content: left;
    bottom: 5%;
    width: 100%;
    padding: 40px;
    margin-left: 25%;
  }


.energy {
    position: relative;
    width: 300px;
    height: 300px;
}

.energy span {
    position: absolute;
    width: calc(300px + var(--i));
    height: calc(300px + var(--i));
    background: var(--clr);
    border-radius: 50%;
    transform-origin: 100px;
    animation: animated 5s linear infinite;
    animation-duration: calc(var(--d));
    mix-blend-mode: plus-lighter;
    filter: blur(30px);
}

.energy span:nth-child(even){
    animation-direction: reverse;
}

@keyframes animated {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
    
}



.sphere {
    width: 300px;
    height: 300px;
    border: 7px solid #fff;
    border-radius: 50%;
    animation: spin 15s linear infinite;
    position: relative;
    transform-style: preserve-3d;
    -ms-transform-style:none;
}

.sphere::before, .sphere::after{
    width: 300px;
    height: 300px;
    border: 7px solid #fff;
    border-radius: 50%;
    content: "";
    left: 0;
    top: 0;
    position: absolute;
}

.sphere::before {
    transform: rotateX(-66.6deg);
}

.sphere::after {
    transform: rotateX(66.6deg);
}

@keyframes spin {
0%{
    transform: rotateY(1deg) rotateX(1deg) rotateZ(1deg);
}   
0%{
    transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg);
}    
}
.ser {
    width: 243px;
    height: 461px;
    background: url("img/ser.png") no-repeat;
    cursor: pointer;
  }


  .compreya {
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    animation: moveRight 5s linear infinite;
  }

  /* Animacion */

  @keyframes moveRight{
      100%{transform: translateX(1800px)}
  }
